.StreamersListCard {
  background-color: var(--tertiary-bg-color);
  border: 1px solid var(--stroke-color);
  border-radius: var(--border-radius-m);
  margin-top: 2rem;
  padding: 1rem;
}

.list {
  margin-top: 1rem;
}
