@import "./reset.scss";
@import "./variables//global.scss";

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font: var(--font-m);
}

a {
  text-decoration: inherit;
  color: inherit;
}

.container {
  max-width: 560px;
  margin: 0 auto;
}

.app {
  margin-top: 2rem;
}
